<!-- section footer -->
<a rel="to-top" href="#top"><i class="fa fa-arrow-up"></i></a>
<footer>
    <p>&copy; 2016 歆音科技</p>
</footer>

<!-- javascript
================================================== -->
<!-- List of dependencies file, please check on readme.txt! (Purchase only) -->

