<!--<div class="module" data-toggle="niceScroll">
    <div class="chat-contact">
        <h3 class="contact-heading">
            <div class="btn-group pull-right">
                <a href="#" data-toggle="side-right">
                    <i class="fa fa-times text-sm"></i>
                </a>
            </div>
            <i class="fa fa-group"></i> 游热聊天室 
            <div class="btn-group">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-angle-down text-sm"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li class="active"><a href="#"><i class="fa fa-circle text-primary"></i> 在线</a></li>
                    <li><a href="#"><i class="fa fa-circle text-danger"></i> 离线</a></li>
                    <li><a href="#"><i class="fa fa-circle text-warning"></i> 空闲</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-circle text-midnight"></i> 免打扰</a></li>
                </ul>
            </div>
        </h3><!-- /contact-heading 

        <div class="contact-body">
            <ul class="contacts-list">
                <li class="separate">朋友</li>
                <li class="online"><a href="#"><i class="fa fa-circle-o" title="online" rel="tooltip-bottom"></i> Phillip Morrison</a></li>
                <li class="offline"><a href="#"><i class="fa fa-circle-o" title="offline" rel="tooltip-bottom"></i> Samuel Porter</a></li>
                <li class="online"><a href="#"><i class="fa fa-circle-o" title="online" rel="tooltip-bottom"></i> Kathy Reynolds</a></li>
                <li class="online"><a href="#"><i class="fa fa-circle-o" title="online" rel="tooltip-bottom"></i> Aaron James</a></li>
                <li class="idle"><a href="#"><i class="fa fa-circle-o" title="idle" rel="tooltip-bottom"></i> Teresa May</a></li>

                <li class="separate">团队</li>
                <li class="online"><a href="#"><i class="fa fa-circle-o" title="online" rel="tooltip-bottom"></i> John Doe</a></li>
                <li class="online"><a href="#"><i class="fa fa-circle-o" title="online" rel="tooltip-bottom"></i> Iin Triasneni</a></li>
                <li class="online"><a href="#"><i class="fa fa-circle-o" title="online" rel="tooltip-bottom"></i> Mahatma</a></li>
                <li class="offline"><a href="#"><i class="fa fa-circle-o" title="offline" rel="tooltip-bottom"></i> Lawrence Ramirez</a></li>
                <li class="offline"><a href="#"><i class="fa fa-circle-o" title="offline" rel="tooltip-bottom"></i> Samantha Jenkins</a></li>
                <li class="disable"><a href="#"><i class="fa fa-circle-o" title="disable" rel="tooltip-bottom"></i> Sarah Payne</a></li>
                <li class="offline"><a href="#"><i class="fa fa-circle-o" title="offline" rel="tooltip-bottom"></i> Justin Perry</a></li>

                <li class="separate">客户</li>
                <li class="idle"><a href="#"><i class="fa fa-circle-o" title="idle" rel="tooltip-bottom"></i> Rebecca Vargas</a></li>
                <li class="online"><a href="#"><i class="fa fa-circle-o" title="online" rel="tooltip-bottom"></i> Sean Carpenter</a></li>
                <li class="idle"><a href="#"><i class="fa fa-circle-o" title="idle" rel="tooltip-bottom"></i> Arthur Pearson</a></li>
                <li class="offline"><a href="#"><i class="fa fa-circle-o" title="offline" rel="tooltip-bottom"></i> Julie Jimenez</a></li>
                <li class="idle"><a href="#"><i class="fa fa-circle-o" title="idle" rel="tooltip-bottom"></i> Sandra Ramirez</a></li>
                <li class="online"><a href="#"><i class="fa fa-circle-o" title="online" rel="tooltip-bottom"></i> Nicholas Cole</a></li>
                <li class="idle"><a href="#"><i class="fa fa-circle-o" title="idle" rel="tooltip-bottom"></i> Madison Hall</a></li>
                <li class="offline"><a href="#"><i class="fa fa-circle-o" title="offline" rel="tooltip-bottom"></i> Alan Shaw</a></li>
                <li class="online"><a href="#"><i class="fa fa-circle-o" title="online" rel="tooltip-bottom"></i> Randy Mills</a></li>

                <li class="separate">全部</li>
                <li class="disable"><a href="#"><i class="fa fa-circle-o" title="disable" rel="tooltip-bottom"></i> Kenneth Soto</a></li>
                <li class="disable"><a href="#"><i class="fa fa-circle-o" title="disable" rel="tooltip-bottom"></i> Harold James</a></li>
                <li class="online"><a href="#"><i class="fa fa-circle-o" title="online" rel="tooltip-bottom"></i> Paul Greene</a></li>
            </ul><!-- /contacts-list 
        </div><!-- /contact-body 
    </div><!-- /chat-contact 

    <div class="chatbox">
        <h3 class="chatbox-heading">
            <a data-toggle="chatbox-close" href="#" class="pull-right text-sm text-silver"><i class="fa fa-times"></i></a>
            <i class="fa fa-circle-o text-primary"></i> 
            Phillip Morrison
        </h3><!-- /chatbox-heading 

        <div class="chatbox-body" data-toggle="niceScroll">

            <div class="chat-separate"><time class="chat-time" datetime="">Jan 9, 2014</time></div>

            <div class="chat-in">
                <div class="chat-user">Phillip Morrison</div>
                <div class="chat-msg">
                    <p>Praesent cras quisque. Volutpat sit interdum. Magnis leo, duis faucibus eu, in rutrum nulla. Eget sed, dolor nibh. Vero mi habitant</p>
                    <time class="chat-time" datetime="2013-12-13T20:00">01:14 PM</time>
                </div>
            </div><!-- /chat-in 

            <div class="chat-out">
                <div class="chat-user">Me</div>
                <div class="chat-msg">
                    <p>Dictum at aenean, faucibus euismod convallis. Ipsum nec, platea amet nulla.</p>
                    <time class="chat-time" datetime="2013-12-13T20:00">01:16 PM</time>
                </div>
            </div><!-- /chat-out 

            <div class="chat-in">
                <div class="chat-user">Phillip Morrison</div>
                <div class="chat-msg">
                    <p>Eu augue, proin rutrum. Et vehicula, wisi fusce, ut ipsum</p>
                    <time class="chat-time" datetime="2013-12-13T20:00">01:20 PM</time>
                </div>
            </div><!-- /chat-in 

            <div class="chat-separate"><time class="chat-time" datetime="">Jan 14, 2014</time></div>

            <div class="chat-out">
                <div class="chat-user">Me</div>
                <div class="chat-msg">
                    <p>Est penatibus pellentesque, augue tincidunt, a suspendisse</p>
                    <time class="chat-time" datetime="2013-12-13T20:00">09:36 AM</time>
                </div>
            </div><!-- /chat-out 

            <div class="chat-in">
                <div class="chat-user">Phillip Morrison</div>
                <div class="chat-msg">
                    <p>Nunc nulla. Donec laoreet non, lobortis praesent</p>
                    <time class="chat-time" datetime="2013-12-13T20:00">09:40 AM</time>
                </div>
            </div><!-- /chat-in 

            <div class="chat-separate"><time class="chat-time" datetime="">Recent</time></div>

            <div class="chat-in">
                <div class="chat-user">Phillip Morrison</div>
                <div class="chat-msg">
                    <p>Dui posuere. Reprehenderit felis libero, potenti vitae</p>
                    <time class="chat-time" datetime="2013-12-13T20:00">12 min</time>
                </div>
            </div><!-- /chat-out 

        </div><!-- /chatbox-body 

        <div class="chatbox-footer">
            <form class="chat-form">
                <p class="chat-status"><i class="fa fa-spinner fa-spin"></i> Phillip Morrison is type...</p>
                <div class="form-group">
                    <button type="submit" class="btn" title="Send"><i class="fa fa-share"></i></button>
                    <input type="text" class="chat-input" name="send_chat" placeholder="Type a message" />
                </div>
            </form>
        </div><!-- /chatbox 
    </div><!-- /chatbox 
</div><!-- /module -->