<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinyin.baoming.mapper.TmSchoolMapper">
	<!--实体映射-->
	<resultMap id="tmSchoolResultMap" type="com.xinyin.baoming.model.vo.TmSchool">
		<!--流水id-->
		<id property="id" column="id" />
		<result property="type" column="type" />
		<!--学校名称-->
		<result property="name" column="name" />
		<!--录入人-->
		<result property="createBy" column="create_by" />
		<!--录入时间-->
		<result property="createDate" column="create_date" />
		<!--变更人-->
		<result property="updateBy" column="update_by" />
		<!--变更时间-->
		<result property="updateDate" column="update_date" />
		<!--备注-->
		<result property="remarks" column="remarks" />
	</resultMap>
	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 id,	type,	name,	create_by,	create_date,	update_by,	update_date,	remarks
	</sql>
	<!-- 查询（根据条件过滤） -->
	<select id="selectBySelective" resultMap="tmSchoolResultMap">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM tm_school
		 WHERE 1=1
			<if test="id != null">
				and id like concat('%',#{id,jdbcType=VARCHAR},'%')
			</if>
			<if test="type != null">
				and type like concat('%',#{type,jdbcType=VARCHAR},'%')
			</if>
			<if test="name != null">
				and name like concat('%',#{name,jdbcType=VARCHAR},'%')
			</if>
			<if test="createBy != null">
				and create_by like concat('%',#{createBy,jdbcType=VARCHAR},'%')
			</if>
			<if test="createDateStr != null">
				and create_date like concat('%',#{createDateStr,jdbcType=VARCHAR},'%')
			</if>
			<if test="updateBy != null">
				and update_by like concat('%',#{updateBy,jdbcType=VARCHAR},'%')
			</if>
			<if test="updateDateStr != null">
				and update_date like concat('%',#{updateDateStr,jdbcType=VARCHAR},'%')
			</if>
			<if test="remarks != null">
				and remarks like concat('%',#{remarks,jdbcType=VARCHAR},'%')
			</if>
	</select>
	<!-- 查询全部学校信息 -->
	<select id="selectAllSchool" resultMap="tmSchoolResultMap">
		SELECT
		 <include refid="Base_Column_List" />
		 FROM tm_school
		 WHERE 1=1
		<if test="id != null">
			and id like concat('%',#{id,jdbcType=VARCHAR},'%')
		</if>
		<if test="type != null">
			and type like concat('%',#{type,jdbcType=VARCHAR},'%')
		</if>
		<if test="name != null">
			and name like concat('%',#{name,jdbcType=VARCHAR},'%')
		</if>
		<if test="createBy != null">
			and create_by like concat('%',#{createBy,jdbcType=VARCHAR},'%')
		</if>
		<if test="createDateStr != null">
			and create_date like concat('%',#{createDateStr,jdbcType=VARCHAR},'%')
		</if>
		<if test="updateBy != null">
			and update_by like concat('%',#{updateBy,jdbcType=VARCHAR},'%')
		</if>
		<if test="updateDateStr != null">
			and update_date like concat('%',#{updateDateStr,jdbcType=VARCHAR},'%')
		</if>
		<if test="remarks != null">
			and remarks like concat('%',#{remarks,jdbcType=VARCHAR},'%')
		</if>
		order by name asc
	</select>
	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultMap="tmSchoolResultMap" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM tm_school
		 WHERE id = #{id}
	</select>
	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		 DELETE FROM tm_school
		 WHERE id = #{id}
	</delete>
	<!--删除：根据匹配字段-->
	<delete id="deleteBySelective" parameterType="com.xinyin.baoming.model.vo.TmSchool">
		 DELETE FROM tm_school
		 WHERE 1=1
			<if test="id != null">
				and id = #{id, jdbcType=VARCHAR}
			</if>
			<if test="type != null">
				and type = #{type, jdbcType=VARCHAR}
			</if>
			<if test="name != null">
				and name = #{name, jdbcType=VARCHAR}
			</if>
			<if test="createBy != null">
				and create_by = #{createBy, jdbcType=VARCHAR}
			</if>
			<if test="createDate != null">
				and create_date = #{createDate, jdbcType=VARCHAR}
			</if>
			<if test="updateBy != null">
				and update_by = #{updateBy, jdbcType=VARCHAR}
			</if>
			<if test="updateDate != null">
				and update_date = #{updateDate, jdbcType=VARCHAR}
			</if>
			<if test="remarks != null">
				and remarks = #{remarks, jdbcType=VARCHAR}
			</if>
	</delete>
	<!-- 添加 -->
	<insert id="insert" parameterType="com.xinyin.baoming.model.vo.TmSchool">
		 INSERT INTO tm_school
 		(id,	type,	name,	create_by,	create_date,	update_by,	update_date,	remarks) 
		 VALUES 
 		(#{id},#{type},#{name},#{createBy},#{createDate},#{updateBy},#{updateDate},#{remarks}) 
	</insert>
	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="com.xinyin.baoming.model.vo.TmSchool">
		 INSERT INTO tm_school
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">
				 id,
			</if>
			<if test="type != null">
				 type,
			</if>
			<if test="name != null">
				 name,
			</if>
			<if test="createBy != null">
				 create_by,
			</if>
			<if test="createDate != null">
				 create_date,
			</if>
			<if test="updateBy != null">
				 update_by,
			</if>
			<if test="updateDate != null">
				 update_date,
			</if>
			<if test="remarks != null">
				 remarks,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id!=null">
				 #{id},
			</if>
			<if test="type!=null">
				 #{type},
			</if>
			<if test="name!=null">
				 #{name},
			</if>
			<if test="createBy!=null">
				 #{createBy},
			</if>
			<if test="createDate!=null">
				 #{createDate},
			</if>
			<if test="updateBy!=null">
				 #{updateBy},
			</if>
			<if test="updateDate!=null">
				 #{updateDate},
			</if>
			<if test="remarks!=null">
				 #{remarks},
			</if>
		 </trim>
	</insert>
	<!-- 修 改（修改有值的字段）-->
	<update id="updateByPrimaryKeySelective" parameterType="com.xinyin.baoming.model.vo.TmSchool">
		 UPDATE tm_school
 		 <set> 
			<if test="type != null">
				 type = #{type},
			</if>
			<if test="name != null">
				 name = #{name},
			</if>
			<if test="createBy != null">
				 create_by = #{createBy},
			</if>
			<if test="createDate != null">
				 create_date = #{createDate},
			</if>
			<if test="updateBy != null">
				 update_by = #{updateBy},
			</if>
			<if test="updateDate != null">
				 update_date = #{updateDate},
			</if>
			<if test="remarks != null">
				 remarks = #{remarks},
			</if>
 		 </set>
		 WHERE id = #{id}
	</update>
	<!-- 修 改-->
	<update id="updateByPrimaryKey" parameterType="java.lang.String">
		 UPDATE tm_school
		 SET 
			type = #{type},
			name = #{name},
			create_by = #{createBy},
			create_date = #{createDate},
			update_by = #{updateBy},
			update_date = #{updateDate},
			remarks = #{remarks}
		 WHERE id = #{id}
	</update>
</mapper>
