#if($!session.getAttribute("HTTP_X_PJAX") == "true")
	#set($layout="/user/order.vm")
	$session.setAttribute("HTTP_X_PJAX","false")
#end
<!-- TableSorter -->
<div id="panel-tablesorter" class="panel panel-default">
	<div class="panel-heading bg-white">
		<div class="panel-actions" >
			<button  title="refresh" class="btn-panel" onclick="refresh();" id="refresh">
				<i class="fa fa-refresh"></i>
			</button>
			<button data-expand="#panel-tablesorter" title="expand" class="btn-panel">
				<i class="fa fa-expand"></i>
			</button>
			<button data-collapse="#panel-tablesorter" title="collapse" class="btn-panel">
				<i class="fa fa-caret-down"></i>
			</button>
			<button data-close="#panel-tablesorter" title="close" class="btn-panel">
				<i class="fa fa-times"></i>
			</button>
		</div><!-- /panel-actions -->
		<h3 class="panel-title">&nbsp;</h3>
	</div><!-- /panel-heading -->
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-12">
				<div class="pull-right">
					<button type="button" class="btn btn-success" id="btnEdit" onclick="searchDetail();">
						查看订单明细 <i class="fa fa-search"></i></button>
					<button type="button" class="btn btn-success" onclick="doBalance();" id="btnAuth">
						结算 <i class="glyphicon glyphicon-credit-card"></i></button>
					<button type="button" class="btn btn-success" onclick="doCancelBalance();" name="btnSingleSel">
						反结算 <i class="glyphicon glyphicon-credit-card"></i></button>
					<button type="button" class="btn btn-success" id="btnDel" onclick="doDeleee();">
						删除 <i class="fa fa-times"></i></button>
				</div>
			</div>
			<div class="col-xs-12" style="height: 10px;">
			</div>
		</div>
		<div class="table-responsive table-responsive-datatables">
			<table class="tablesorter table table-hover table-bordered">
				<thead>
					<tr>
						<th style="text-align:center;">流水id</th>
						<th style="text-align:center;">手机号码</th>
						<th style="text-align:center;">证件号码</th>
						<th style="text-align:center;">学生</th>
						<th style="text-align:center;">订单总金额</th>
						<th style="text-align:center;">订单状态</th>
						<th style="text-align:center;">录入人</th>
						<th style="text-align:center;">录入时间</th>
						<th style="text-align:center;">变更人</th>
						<th style="text-align:center;">变更时间</th>
						<th style="text-align:center;">备注</th>
					</tr>
				</thead><!--/thead-->
				<tbody>
				</tbody><!--/tbody-->
				<tfoot>
					<tr>
						<th colspan="11" class="ts-pager form-horizontal">
							#parse("/layout/page.vm")
						</th>
				</tr>
				</tfoot><!--/tfoot-->
			</table><!--/table tools-->
		</div><!--/table-responsive-->
	</div><!--/panel-body-->
</div><!--/panel-tablesorter-->
<script type="text/javascript">
globleUrl = "$request.getContextPath()/user/order/";

// 根据选择订单跳转到相应订单明细
function searchDetail(){
	var orderId;
	$("table.tablesorter tbody tr").each(function(){
		if($(this).find("td:eq(0)").css("background-color") == colorRgb){
			orderId = $(this).find("td:eq(0)").text();
			return false;
		}
	});
	location.href="$request.getContextPath()/user/orderdetail/" + orderId + ".shtml";
}

// 结算
function doBalance(){
	var orderId;
	$("table.tablesorter tbody tr").each(function(){
		if($(this).find("td:eq(0)").css("background-color") == colorRgb){
			orderId = $(this).find("td:eq(0)").text();
			return false;
		}
	});
	bootbox.confirm("确认结算订单："+ orderId + "？",function(sure){
		if(sure){
			AjaxPost(globleUrl + "balance/"+ orderId +".shtml","",function(msg){
				initTableSorter(globleUrl+"data.shtml");
				btnInit();
				bootbox.alert(msg,function(){
				});
			}); 
		}
	})
}

// 反结算
function doCancelBalance(){
	var orderId;
	$("table.tablesorter tbody tr").each(function(){
		if($(this).find("td:eq(0)").css("background-color") == colorRgb){
			orderId = $(this).find("td:eq(0)").text();
			return false;
		}
	});
	bootbox.confirm("确认反结算订单："+ orderId + "？",function(sure){
		if(sure){
			AjaxPost(globleUrl + "cancelbalance/"+ orderId +".shtml","",function(msg){
				initTableSorter(globleUrl+"data.shtml");
				btnInit();
				bootbox.alert(msg,function(){
				});
			}); 
		}
	})
}

// 执行删除
function doDeleee(){
	var val = true;
	// 订单状态校验
	$("table.tablesorter tbody tr").each(function(){
		if($(this).find("td:eq(0)").css("background-color") == colorRgb){
			// 订单状态校验（只能删除未付款订单）
    		if("已付款" == $(this).find("td:eq(5)").text()){
    			bootbox.alert("不能删除已付款订单！",function(){});
    			val = false;
    			return false;
    		}
		}
	});
	if(val == false){
		return;
	}
	bootbox.confirm("是否删除选中记录？",function(sure){
		if(sure){
			var idArr = delDate();
			AjaxPost(globleUrl+"delete.shtml",{"id":JSON.stringify(idArr)},function(msg){
				initTableSorter(globleUrl+"data.shtml");
				btnInit();
				// 修正tablesorter插件删除尾页全部数据时不能重置的问题
				bootbox.alert(msg,function(){
					var allRows = $("table.tablesorter tbody").find("tr");
					$(allRows).each(function(){
						if($(this).find("td:eq(0)").css("background-color") == colorRgb){
							$("table.tablesorter").trigger("update");
							return false;
						}
					});
				});
			}); 
		}
	});
}

// 删除准备数据
function delDate(){
	var idArr=[];
	$("table.tablesorter tbody tr").each(function(){
		var id = $(this).find("td:eq(0)").text();
		var name = $(this).find("td:eq(1)").text() + ":" + $(this).find("td:eq(2)").text();
		if($(this).find("td:eq(0)").css("background-color") == colorRgb){
			idArr.push({"id":id,"name":name});
		}
	});
	return idArr;
}
</script>
