#if($!session.getAttribute("HTTP_X_PJAX") == "true")
	#set($layout="/sys/configquartz.vm")
	$session.setAttribute("HTTP_X_PJAX","false")
#end
<!-- TableSorter -->
<div id="panel-tablesorter" class="panel panel-default">
	<div class="panel-heading bg-white">
		<div class="panel-actions" >
			<button  title="refresh" class="btn-panel" onclick="refresh();" id="refresh">
				<i class="fa fa-refresh"></i>
			</button>
			<button data-expand="#panel-tablesorter" title="expand" class="btn-panel">
				<i class="fa fa-expand"></i>
			</button>
			<button data-collapse="#panel-tablesorter" title="collapse" class="btn-panel">
				<i class="fa fa-caret-down"></i>
			</button>
			<button data-close="#panel-tablesorter" title="close" class="btn-panel">
				<i class="fa fa-times"></i>
			</button>
		</div><!-- /panel-actions -->
		<h3 class="panel-title">&nbsp;</h3>
	</div><!-- /panel-heading -->
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-12">
				<div class="pull-right">
					<button type="button" class="btn btn-success" id="btnAdd" onclick="accessAddModule();"
						data-toggle="modal" href="#editModal">
						添加 <i class="fa fa-plus"></i></button>
					<button type="button" class="btn btn-success" id="btnEdit" onclick="accessEditModule();"
						data-toggle="modal" href="#editModal">
						修改 <i class="fa fa-edit"></i></button>
					<button type="button" class="btn btn-success" id="btnDel" onclick="doDel();">
						删除 <i class="fa fa-times"></i></button>
				</div>
			</div>
			<div class="col-xs-12" style="height: 10px;">
			</div>
		</div>
		<div class="table-responsive table-responsive-datatables">
			<table class="tablesorter table table-hover table-bordered">
				<thead>
					<tr>
						<th style="text-align:center;">流水id</th>
						<th style="text-align:center;">任务名称</th>
						<th style="text-align:center;">触发时间(CRON表达式)</th>
						<th style="text-align:center;">任务详细说明</th>
						<th style="text-align:center;">任务java对象</th>
						<th style="text-align:center;">方法名称</th>
						<th style="text-align:center;">并发</th>
						<th style="text-align:center;">任务状态</th>
						<th style="text-align:center;">是spring组件</th>
						<th style="text-align:center;">创建者</th>
						<th style="text-align:center;">创建时间</th>
						<th style="text-align:center;">更新者</th>
						<th style="text-align:center;">更新时间</th>
						<th style="text-align:center;">备注信息</th>
					</tr>
				</thead><!--/thead-->
				<tbody>
				</tbody><!--/tbody-->
				<tfoot>
					<tr>
						<th colspan="14" class="ts-pager form-horizontal">
							#parse("/layout/page.vm")
						</th>
				</tr>
				</tfoot><!--/tfoot-->
			</table><!--/table tools-->
		</div><!--/table-responsive-->
		<form id="editModal" data-validate="form" class="modal fade" >
			<input type="hidden" name="id"/>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title"><strong></strong></h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-3 control-label" for="name">任务名称:</label>
								<div class="col-sm-7">
									<input class="form-control" type="text" name="triggerName" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="name">触发时间(CRON表达式):</label>
								<div class="col-sm-7">
									<input class="form-control" type="text" name="cronExpression" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="name">任务详细说明:</label>
								<div class="col-sm-7">
									<input class="form-control" type="text" name="jobDetailName" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="name">任务java对象:</label>
								<div class="col-sm-7">
									<input class="form-control" type="text" name="targetObject" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="name">方法名称:</label>
								<div class="col-sm-7">
									<input class="form-control" type="text" name="methodName" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="name">并发:</label>
								<div class="col-sm-7">
									<input class="form-control" type="text" name="concurrent" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="name">任务状态:</label>
								<div class="col-sm-7">
									<input class="form-control" type="text" name="state" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="name">是spring组件:</label>
								<div class="col-sm-7">
									<input class="form-control" type="text" name="isSpringBean" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="name">备注信息:</label>
								<div class="col-sm-7">
									<input class="form-control" type="text" name="remarks" />
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-cloud" data-dismiss="modal" >
					取消 <i class="fa fa-mail-reply"></i>
						</button>
						<button class="btn btn-success" type="button" >
					保存 <i class="fa fa-check"></i>
						</button>
					</div>
				</div>
			</div>
		</form>
	</div><!--/panel-body-->
</div><!--/panel-tablesorter-->
<script type="text/javascript">
globleUrl = "$request.getContextPath()/sys/configquartz/";
title = "计划任务表";
// 编辑窗口数据初始化-回调函数
function editInitCallBack(msg){
	$("#editModal input[name='id']").val(msg.id);
	$("#editModal input[name='triggerName']").val(msg.triggerName);
	$("#editModal input[name='cronExpression']").val(msg.cronExpression);
	$("#editModal input[name='jobDetailName']").val(msg.jobDetailName);
	$("#editModal input[name='targetObject']").val(msg.targetObject);
	$("#editModal input[name='methodName']").val(msg.methodName);
	$("#editModal input[name='concurrent']").val(msg.concurrent);
	$("#editModal input[name='state']").val(msg.state);
	$("#editModal input[name='isSpringBean']").val(msg.isSpringBean);
	$("#editModal input[name='remarks']").val(msg.remarks);
}

// 删除准备数据
function delDate(){
	var idArr=[];
	$("table.tablesorter tbody tr").each(function(){
		var id = $(this).find("td:eq(0)").text();
		var name = $(this).find("td:eq(1)").text();
		if($(this).find("td:eq(0)").css("background-color") == colorRgb){
			idArr.push({"id":id,"name":name});
		}
	});
	return idArr;
}
</script>
