#if($!session.getAttribute("HTTP_X_PJAX") == "true")
	#set($layout="/sys/user.vm")
	$session.setAttribute("HTTP_X_PJAX","false")
#end
<!-- TableSorter -->
<div id="panel-tablesorter" class="panel panel-default">
    <div class="panel-heading bg-white">
        <div class="panel-actions" >
            <button  title="refresh" class="btn-panel" onclick="refresh();" id="refresh">
                <i class="fa fa-refresh"></i>
            </button>
            <button data-expand="#panel-tablesorter" title="expand" class="btn-panel">
                <i class="fa fa-expand"></i>
            </button>
            <button data-collapse="#panel-tablesorter" title="collapse" class="btn-panel">
                <i class="fa fa-caret-down"></i>
            </button>
            <button data-close="#panel-tablesorter" title="close" class="btn-panel">
                <i class="fa fa-times"></i>
            </button>
        </div><!-- /panel-actions -->
        <h3 class="panel-title">&nbsp;</h3>
    </div><!-- /panel-heading -->
    <div class="panel-body">
        <div class="row">
    		<div class="col-xs-12">
    			<div class="pull-right">
    				<button type="button" class="btn btn-success" id="btnAdd" onclick="accessAddModule();"
						data-toggle="modal" href="#editModal">
						添加 <i class="fa fa-plus"></i></button>
        			<button type="button" class="btn btn-success" id="btnEdit" onclick="accessEditModule();"
						data-toggle="modal" href="#editModal">
						修改 <i class="fa fa-edit"></i></button>
        			<button type="button" class="btn btn-success" id="btnDel" onclick="doDel();">
						删除 <i class="fa fa-times"></i></button>
                </div>
    		</div>
			<div class="col-xs-12" style="height: 10px;">
			</div>
    	</div>
        <div class="table-responsive table-responsive-datatables">
        	<table class="tablesorter table table-hover table-bordered">
				<thead>
					<tr>
						<th style="text-align:center;">用户名</th>
						<th style="text-align:center;">姓名</th>
						<th style="text-align:center;">手机</th>
						<th style="text-align:center;">上级</th>
						<th style="text-align:center;">用户角色</th>
						<th style="text-align:center;">录入人</th>
						<th style="text-align:center;">录入时间</th>
						<th style="text-align:center;">变更人</th>
						<th style="text-align:center;">变更时间</th>
					</tr>
				</thead><!--/thead-->
				<tbody>
                </tbody>
				<tfoot>
                    <tr>
                        <th colspan="9" class="ts-pager form-horizontal">
                            #parse("/layout/page.vm")
                        </th>
                    </tr>
                </tfoot><!--/tfoot-->
			</table><!--/table tools-->
        </div><!--/table-responsive-->
		<form id="editModal" data-validate="form" class="modal fade" tabindex="-1">
			<input type="hidden" name="id"/>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title"><strong></strong></h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-3 control-label" for="name">用户名:</label> 
    							<div class="col-sm-7">
    								<input class="form-control" type="text" name="username" required maxlength="20"/>
								</div>
                            </div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="name">密码:</label> 
    							<div class="col-sm-7">
    								<input class="form-control" type="password" name="password" required maxlength="20"/>
								</div>
                            </div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="name">真实姓名:</label> 
    							<div class="col-sm-7">
    								<input class="form-control" type="text" name="realName" required maxlength="20"/>
								</div>
                            </div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="name">上级用户:</label> 
    							<div class="col-sm-7">
    								<select class="form-control" name="upUser" required>
										<option value="">请选择</option>
										#foreach($obj in $userInfo)
											<option value="$obj.username">$obj.realName</option>
										#end
                                    </select>
								</div>
                            </div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="name">系统角色列表:</label> 
    							<div class="col-sm-7">
    								<select class="form-control" name="roleId" required>
										<option value="">请选择</option>
										#foreach($obj in $roleInfo)
											<option value="$obj.roleId">$obj.roleName</option>
										#end
                                    </select>
								</div>
                            </div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="name">手机号码:</label> 
    							<div class="col-sm-7">
    								<input class="form-control" type="text" number="true" name="phone" required  maxlength="11"/>
								</div>
                            </div>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-cloud" data-dismiss="modal" >
							 取消 <i class="fa fa-mail-reply"></i>
						</button>
						<button class="btn btn-success" type="button">
							 保存 <i class="fa fa-check"></i>
						</button>
					</div>
				</div>
			</div>
		</form>
	</div><!--/panel-body-->
</div><!--/panel-tablesorter-->
<script type="text/javascript">
globleUrl = "$request.getContextPath()/sys/user/";
title = "系统用户";

// 进入添加
function preAdd(){
	$("#editModal input[name='username']").attr("readonly",false);
	$("#editModal input[name='password']").attr("required",true);
	$("#editModal input[name='password']").attr("placeholder","");
}
 
// 服务端校验
function serverValid(validFlag,validSuccess,flag){
	var obj = $("input[name='username']");
	if(flag == 1 && $(obj).val() != ""){
		jQuery.post("$request.getContextPath()/sys/user/username/validation.shtml",
			{username:$(obj).val()},function(msg){
			// 所有校验通过时
			if(!msg && validFlag){
				validSuccess(flag);
			}else{
				// 后台校验失败时，提示消息，文本变红
				if(msg){
					$(obj).addClass("text-danger");
					if($(obj).next().length==0){
    					$(obj).after("<label for='username' class='text-danger'>"+msg+"</label>")
    				}else{
    					$(obj).next().text(msg);
    					$(obj).next().show();
    				}
				}
			}
		});
	}else if(flag != 1 && validFlag){
		validSuccess(flag);
	}
}

// 编辑窗口数据初始化-回调函数
function editInitCallBack(msg){
	$("#editModal input[name='username']").val(msg.username);
	$("#editModal input[name='realName']").val(msg.realName);
	$("#editModal select[name='roleId']").val(msg.roleId);
	$("#editModal select[name='upUser']").val(msg.upUser);
	$("#editModal input[name='phone']").val(msg.phone);
	$("#editModal input[name='username']").attr("readonly",true);
	$("#editModal input[name='password']").attr("required",false);
	$("#editModal input[name='password']").attr("placeholder","不填则不修改");
}

// 删除准备数据
function delDate(){
	var idArr=[];
	$("table.tablesorter tbody tr").each(function(){
		var id = $(this).find("td:eq(0)").text();
		var name = $(this).find("td:eq(2)").text();
		if($(this).find("td:eq(0)").css("background-color") == colorRgb){
			idArr.push({"id":id,"name":name});
		}
	});
	return idArr;
}
</script>