#if($!session.getAttribute("HTTP_X_PJAX") == "true")
	#set($layout="/operation/teacher.vm")
	$session.setAttribute("HTTP_X_PJAX","false")
#end
<!-- TableSorter -->
<div id="panel-tablesorter" class="panel panel-default">
	<div class="panel-heading bg-white">
		<div class="panel-actions" >
			<button  title="refresh" class="btn-panel" onclick="refresh();" id="refresh">
				<i class="fa fa-refresh"></i>
			</button>
			<button data-expand="#panel-tablesorter" title="expand" class="btn-panel">
				<i class="fa fa-expand"></i>
			</button>
			<button data-collapse="#panel-tablesorter" title="collapse" class="btn-panel">
				<i class="fa fa-caret-down"></i>
			</button>
			<button data-close="#panel-tablesorter" title="close" class="btn-panel">
				<i class="fa fa-times"></i>
			</button>
		</div><!-- /panel-actions -->
		<h3 class="panel-title">&nbsp;</h3>
	</div><!-- /panel-heading -->
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-12">
				<div class="pull-right">
					<button type="button" class="btn btn-success" id="btnChooseAll" onclick="chooseAll();">
						全选 <i class="fa fa-check"></i></button>
					<button type="button" class="btn btn-success" id="btnImport" onclick="importAsUser();">
						授权登陆 <i class="glyphicon glyphicon-import"></i></button>
					<button type="button" class="btn btn-success" id="btnAdd" onclick="accessAddModule();"
						data-toggle="modal" href="#editModal">
						添加 <i class="fa fa-plus"></i></button>
					<button type="button" class="btn btn-success" id="btnEdit" onclick="accessEditModule();"
						data-toggle="modal" href="#editModal">
						修改 <i class="fa fa-edit"></i></button>
					<button type="button" class="btn btn-success" id="btnDel" onclick="doDel();">
						删除 <i class="fa fa-times"></i></button>
				</div>
			</div>
			<div class="col-xs-12" style="height: 10px;">
			</div>
		</div>
		<div class="table-responsive table-responsive-datatables">
			<table class="tablesorter table table-hover table-bordered">
				<thead>
					<tr>
						<th style="text-align:center;">流水id</th>
						<th style="text-align:center;">身份证编号</th>
						<th style="text-align:center;">手机号</th>
						<th style="text-align:center;">姓名</th>
						<th style="text-align:center;">性别</th>
						<th style="text-align:center;">头像</th>
						<th style="text-align:center;">录入人</th>
						<th style="text-align:center;">录入时间</th>
						<th style="text-align:center;">变更人</th>
						<th style="text-align:center;">变更时间</th>
						<th style="text-align:center;">备注</th>
					</tr>
				</thead><!--/thead-->
				<tbody>
				</tbody><!--/tbody-->
				<tfoot>
					<tr>
						<th colspan="11" class="ts-pager form-horizontal">
							#parse("/layout/page.vm")
						</th>
				</tr>
				</tfoot><!--/tfoot-->
			</table><!--/table tools-->
		</div><!--/table-responsive-->
		<form id="editModal" data-validate="form" class="modal fade" >
			<input type="hidden" name="id"/>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title"><strong></strong></h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-3 control-label" for="name">身份证编号:</label>
								<div class="col-sm-7">
									<input class="form-control" type="text" name="idcardNo" required maxlength="18" number="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="name">手机号:</label>
								<div class="col-sm-7">
									<input class="form-control" type="text" name="phonenumber" required maxlength="11" number="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="name">姓名:</label>
								<div class="col-sm-7">
									<input class="form-control" type="text" name="name" required/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="name">性别:</label> 
    							<div class="col-sm-7">
    								<select class="form-control" name="sex" required>
										<option value="">请选择</option>
										#foreach($obj in $sexList)
											<option value="$obj.sort">$obj.name</option>
										#end
                                    </select>
								</div>
                            </div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="name">头像:</label>
								<div class="col-sm-7">
									<input class="form-control" type="text" name="pictureUrl" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="name">备注:</label>
								<div class="col-sm-7">
									<input class="form-control" type="text" name="remarks" />
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-cloud" data-dismiss="modal" >
					取消 <i class="fa fa-mail-reply"></i>
						</button>
						<button class="btn btn-success" type="button" >
					保存 <i class="fa fa-check"></i>
						</button>
					</div>
				</div>
			</div>
		</form>
	</div><!--/panel-body-->
</div><!--/panel-tablesorter-->
<script type="text/javascript">
globleUrl = "$request.getContextPath()/operation/teacher/";
title = "授课老师信息";
// 编辑窗口数据初始化-回调函数
function editInitCallBack(msg){
	$("#editModal input[name='id']").val(msg.id);
	$("#editModal input[name='idcardNo']").val(msg.idcardNo);
	$("#editModal input[name='phonenumber']").val(msg.phonenumber);
	$("#editModal input[name='name']").val(msg.name);
	$("#editModal select[name='sex']").val(msg.sex);
	$("#editModal input[name='pictureUrl']").val(msg.pictureUrl);
	$("#editModal input[name='remarks']").val(msg.remarks);
}

// 删除准备数据
function delDate(){
	var idArr=[];
	$("table.tablesorter tbody tr").each(function(){
		var id = $(this).find("td:eq(0)").text();
		var name = $(this).find("td:eq(1)").text();
		if($(this).find("td:eq(0)").css("background-color") == colorRgb){
			idArr.push({"id":id,"name":name});
		}
	});
	return idArr;
}

// 准备授权数据
function preDate(){
	var idArr=[];
	$("table.tablesorter tbody tr").each(function(){
		var id = $(this).find("td:eq(0)").text();
		var name = $(this).find("td:eq(3)").text();
		if($(this).find("td:eq(0)").css("background-color") == colorRgb){
			idArr.push({"id":id,"name":name});
		}
	});
	return idArr;
}

// 生成用户(老师数据复制到系统用户表，并赋权老师，默认密码123456)
function importAsUser(){
	bootbox.confirm("是否将选中数据生成系统用户，授权角色为“授课老师”？",function(sure){
		if(sure){
			var idArr = preDate();
			AjaxPost(globleUrl+"authorization.shtml",{"id":JSON.stringify(idArr)},function(msg){
				initTableSorter(globleUrl+"data.shtml");
				btnInit();
				bootbox.alert(msg,function(){
					var allRows = $("table.tablesorter tbody").find("tr");
					$(allRows).each(function(){
						if($(this).find("td:eq(0)").css("background-color") == colorRgb){
							$("table.tablesorter").trigger("update");
							return false;
						}
					});
				});
			}); 
		}
	});
}
</script>
